/* your styles go here */

#top a {
  color: #eee;
}

#top a:hover {
  color: #fff;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.owl-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  font-size: 16px;
  line-height: 1.8;
}
