/* your styles go here */

@media (max-width: 767px) {
  .navbar {
    min-height: 90px;
  }
}

button.navbar-toggle.btn-template-main {
    margin-top: 26px;
    margin-right: 8px;
    margin-bottom: 24px;
}

#page-template p > img {
  width: 150px;
}

.universal-bar.background-image-fixed-2 {
  background: url('https://res.cloudinary.com/maplekiwi/image/upload/w_1600,g_center,c_fit/gas/tao-wen-148062-unsplash.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-right.pull-left {
  margin-top: 32px;
  margin-left: 8px;
}

.navbar-right.right-logo {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.navbar-collapse .navbar-right.right-logo:first-of-type {
  margin-right: 0;
  margin-left: 8px;
}

.navbar-collapse .navbar-right.right-logo:last-of-type {
  margin-right: 8px;
  margin-left: 24px;
}


/* flex row */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  padding: 8px;
}
.flex-25 {
  flex: 25%;
  flex-grow: 0;
}

@media (max-width: 767px) {
  .navbar {
    min-height: 90px;
  }
  .flex-xs-100 {
    flex: 100%;
    flex-grow: 1;
  }
}



.customers .item img {
  filter: none;
  -webkit-filter: none;
}

#top a {
  color: #eee;
}

#top a:hover {
  color: #fff;
}

#top .contact-us a {
  text-decoration: underline;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.owl-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  font-size: 16px;
  line-height: 1.8;
}

#content img {
  max-width: 500px;
  display: block;
  width: auto;
  padding: 8px;
}

#content .team-member img {
  max-width: 100%;
  width: 250px;
}
