{{ if isset .Params "banner" }}
{{ if gt (len .Params.banner) 0 }}
  <div id="heading-breadcrumbs" style="
    padding-top: 350px;
    padding-bottom: 0;
    background:
    linear-gradient(
    to top,
  hsl(290, 50%, 8%) 0%,
  hsla(290, 50%, 8%, 0.978) 9.5%,
  hsla(290, 50%, 8%, 0.925) 17.7%,
  hsla(290, 50%, 8%, 0.857) 24.7%,
  hsla(290, 50%, 8%, 0.781) 31%,
  hsla(290, 50%, 8%, 0.701) 36.8%,
  hsla(290, 50%, 8%, 0.62) 42.3%,
  hsla(290, 50%, 8%, 0.538) 47.6%,
  hsla(290, 50%, 8%, 0.455) 52.9%,
  hsla(290, 50%, 8%, 0.373) 58.2%,
  hsla(290, 50%, 8%, 0.291) 63.7%,
  hsla(290, 50%, 8%, 0.212) 69.5%,
  hsla(290, 50%, 8%, 0.138) 75.8%,
  hsla(290, 50%, 8%, 0.07) 82.9%,
  hsla(290, 50%, 8%, 0.019) 91.2%,
  hsla(290, 50%, 8%, 0) 100%
),
    url('{{ $.Site.Params.cloudinary_url }}/c_scale,w_2000{{ .Params.banner }}');
    background-size: cover;
    background-position: bottom;
    ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: rgba(255,255,255,0.79);">{{ .Params.heading }}</h1>
            </div>
        </div>
    </div>
  </div>
{{ else }}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ .Params.heading }}</h1>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
