<div class="container" role="main" id="page-template">
  <div class="row">
    <div class="content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ range .Params.page_content }}
          {{ if eq "content" .template }}
              {{ partial "blocks/content" . }}
          {{ end }}
          {{ if eq "promotion" .template }}
              {{ partial "blocks/promotion" . }}
          {{ end }}
          {{ if eq "staff" .template }}
              {{ partial "blocks/staff" . }}
          {{ end }}
      {{ end }}
      {{ .Content }}
      {{ if .Site.DisqusShortname }}
        <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
