{{ if isset .Site.Params "promotions" }}
{{ if .Site.Params.promotions.enable }}
{{ if gt (len .Site.Data.promotions) 0 }}
{{ $promotion := index (sort .Site.Data.promotions "date") 0 }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive center-block" src="{{ .Site.Params.cloudinary_url }}/w_300,c_scale/{{ $promotion.image }}" />

                <h3 class="text-uppercase">{{ $promotion.heading }}</h3>
                <p class="lead text-center ">{{ $promotion.message | safeHTML }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.promotions.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.promotions.link_text }}</a>
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
