<div class="container">
  {{.Content}}
</div>

{{ if isset .Site.Params "staff" }}
{{ if .Site.Params.staff.enable }}
{{ if gt (len .Site.Data.staff) 0 }}
<div class="container">
  <div class="row text-center flex-row">
    {{ range sort .Site.Data.staff "weight" }}
    <div class="flex-col flex-25">
      <div class="team-member">
        <div class="image">
          <img class="img-responsive img-circle cld-responsive" src="{{ $.Site.Params.cloudinary_url }}/ar_1:1,w_auto,h_500,dpr_auto,c_thumb,g_face{{ .photo }}" alt="{{ .name }}">
        </div>
        <h3>{{ .name }}</h3>
        <p class="role">{{ .role }}</p>
        <ul class="social list-inline">
          {{ if .facebook }}
            <li class="list-inline-item"><a href="{{ .facebook }}" class="external facebook"><i class="fa fa-facebook"></i></a></li>
          {{ end }}
          {{ if .twitter }}
            <li class="list-inline-item"><a href="{{ .twitter }}" class="external twitter"><i class="fa fa-twitter"></i></a></li>
          {{ end }}
          {{ if .email }}
            <li class="list-inline-item"><a href="mailto:{{ .email }}" class="email"><i class="fa fa-envelope"></i></a></li>
          {{ end }}
        </ul>
        <div class="text">
          {{ .description | safeHTML }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
{{ end }}
{{ end }}
