<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}

        {{ partial "video.html" . }}

        {{ partial "features.html" . }}

        {{ partial "page.html" . }}
        <!-- {{ range .Params.page_content }}
            {{ if eq "content" .template }}
                {{ partial "blocks/content" . }}
            {{ end }}
            {{ if eq "promotion" .template }}
                {{ partial "blocks/promotion" . }}
            {{ end }}
            {{ if eq "staff" .template }}
                {{ partial "blocks/staff" . }}
            {{ end }}
        {{ end }}
        {{ .Content }} -->

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "promotion.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
